In [1]:
from Planning import *                          #import librarie
group_file = 'exemple_groupe_de_travail.xlsx'   #choix de l'équipe
TMF_file   = 'exemple_TMF.xlsx'                 #fichier contenant les tâches à planifier

DATE_DEBUT = '2020-05-11 08:30:00'              #date de début du sprint
DATE_FIN   = '2020-05-16 18:00:00'              #date de fin du sprint

## On importe le groupe dont on va planifier les tâches mère-fille :

In [2]:
group = pd.read_excel(group_file).drop('Unnamed: 0',axis=1)
group

   ID       Nom      Prénom       Fichier Horaires       Fichier Impératifs
0   0    Dumont       David  exemple_horaires.xlsx  exemple_impératifs.xlsx
1   1  Bertrand       David  exemple_horaires.xlsx  exemple_impératifs.xlsx
2   2    Gerard        Anne  exemple_horaires.xlsx  exemple_impératifs.xlsx
3   3   Mathieu  Christophe  exemple_horaires.xlsx  exemple_impératifs.xlsx
4   4    Durand        Eric  exemple_horaires.xlsx  exemple_impératifs.xlsx

## On créé des objets de type planning pour travailler avec :

In [10]:
plannings = list()
for i in range(len(group)):
    P = Planning(group['Nom'][i],
                group['ID'][i], group['Fichier Horaires'][i])
    P.initialise(DATE_DEBUT,DATE_FIN)
    P.addImperatifs(pd.read_excel(group['Fichier Impératifs'][i]))
    plannings.append(P)

## Visualisation des tâches à planifier :

In [11]:
TMF = pd.read_excel(TMF_file).drop('Unnamed: 0',axis=1)
TMF

    id tache     Objet  Durée  id utilisateur  Next tache id  Prev tache id
0          0   tache 0   0.25               2              1             -1
1          1   tache 1   3.00               3              2              0
2          2   tache 2   3.00               3              3              1
3          3   tache 3   1.00               2              4              2
4          4   tache 4   2.50               4              5              3
5          5   tache 5   1.00               0              6              4
6          6   tache 6   1.75               3              7              5
7          7   tache 7   1.00               1              8              6
8          8   tache 8   1.75               0              9              7
9          9   tache 9   3.00               0             10              8
10        10  tache 10   1.00               2             11              9
11        11  tache 11   3.00               0             12             10
12        12  tache 12   1.00               2             -1             11

## Visualisation impératifs (identiques pour tous les utilisateurs) :

In [12]:
pd.read_excel('exemple_impératifs.xlsx')

,Objet,Priorité,Date début,Date fin
0,Rdv DENTISTE,IMPERATIF,2020-05-12 10:00:00,2020-05-12 11:00:00
1,Accueil nouvelle recrue,IMPERATIF,2020-05-13 09:30:00,2020-05-13 11:30:00
2,Rdv Expert Comptable,IMPERATIF,2020-05-14 09:00:00,2020-05-14 10:00:00
3,Rdv Banque,IMPERATIF,2020-05-15 14:00:00,2020-05-15 16:00:00
4,Réserver les vacances d'été,IMPERATIF,2020-05-17 16:00:00,2020-05-17 18:00:00
5,Restaurant avec l'équipe,IMPERATIF,2020-05-20 12:00:00,2020-05-20 12:50:00
6,Footing,IMPERATIF,2020-05-22 08:00:00,2020-05-22 09:00:00

## Planification des tâches :

In [13]:
planned_TMF = planifieTMF(TMF, DATE_DEBUT, DATE_FIN, plannings, maxiter = 1500)
for i  in np.unique(planned_TMF['id utilisateur'].values):
    plannings[i].addImperatifs(planned_TMF.loc[planned_TMF['id utilisateur']==i,
                                               ['Objet','Priorité','Date début',"Date fin"]])
planned_TMF

Non respect des horaires en heures pour la planification des tâches mere-fille : 0.0

       Objet Priorité          Date début            Date fin  id utilisateur
0    tache 0     TMF  2020-05-11 08:30:00 2020-05-11 08:45:00               2
1    tache 1     TMF  2020-05-11 09:00:00 2020-05-11 12:00:00               3
2    tache 2     TMF  2020-05-11 14:00:00 2020-05-11 17:00:00               3
3    tache 3     TMF  2020-05-12 08:00:00 2020-05-12 09:00:00               2
4    tache 4     TMF  2020-05-12 14:30:00 2020-05-12 17:00:00               4
5    tache 5     TMF  2020-05-13 08:00:00 2020-05-13 09:00:00               0
6    tache 6     TMF  2020-05-13 13:00:00 2020-05-13 14:45:00               3
7    tache 7     TMF  2020-05-13 14:45:00 2020-05-13 15:45:00               1
8    tache 8     TMF  2020-05-14 08:00:00 2020-05-14 09:45:00               0
9    tache 9     TMF  2020-05-14 14:00:00 2020-05-14 17:00:00               0
10  tache 10     TMF  2020-05-15 08:00:00 2020-05-15 09:00:00               2
11  tache 11     TMF  2020-05-15 09:00:00 2020-05-15 12:00:00               0
12  tache 12     TMF  2020-05-15 13:00:00 2020-05-15 14:00:00               2

## Les tâches sont planifiées :

In [14]:
plannings[3].makePlanning(to_file=False)

,Objet,Priorité,Date début,Date fin
0,tache 1,TMF,2020-05-11 09:00:00,2020-05-11 12:00:00
1,tache 2,TMF,2020-05-11 14:00:00,2020-05-11 17:00:00
2,Rdv DENTISTE,IMPERATIF,2020-05-12 10:00:00,2020-05-12 11:00:00
3,Accueil nouvelle recrue,IMPERATIF,2020-05-13 09:30:00,2020-05-13 11:30:00
4,tache 6,TMF,2020-05-13 13:00:00,2020-05-13 14:45:00
5,Rdv Expert Comptable,IMPERATIF,2020-05-14 09:00:00,2020-05-14 10:00:00
6,Rdv Banque,IMPERATIF,2020-05-15 14:00:00,2020-05-15 16:00:00
7,Réserver les vacances d'été,IMPERATIF,2020-05-17 16:00:00,2020-05-17 18:00:00
8,Restaurant avec l'équipe,IMPERATIF,2020-05-20 12:00:00,2020-05-20 12:50:00
9,Footing,IMPERATIF,2020-05-22 08:00:00,2020-05-22 09:00:00