### Import des librairies, du fichier groupe, et définition de la période de planification des tâches multi-utilisateurs :

In [1]:
from Planning import *
group_file = 'exemple_groupe_de_travail.xlsx'
TMU_file   = 'exemple_TMF.xlsx'

DATE_DEBUT = '2020-05-11 08:30:00'
DATE_FIN   = '2020-05-16 18:00:00'

## On importe le groupe dont on va planifier les tâches multi-utilisateurs :

In [2]:
group = pd.read_excel(group_file)
group

   ID       Nom      Prénom       Fichier Horaires       Fichier Impératifs
0   0    Dumont       David  exemple_horaires.xlsx  exemple_impératifs.xlsx
1   1  Bertrand       David  exemple_horaires.xlsx  exemple_impératifs.xlsx
2   2    Gerard        Anne  exemple_horaires.xlsx  exemple_impératifs.xlsx
3   3   Mathieu  Christophe  exemple_horaires.xlsx  exemple_impératifs.xlsx
4   4    Durand        Eric  exemple_horaires.xlsx  exemple_impératifs.xlsx

## On créé des objets de type planning pour travailler avec :

In [3]:
plannings = list()
for i in range(len(group)):
    P = Planning(group['Nom'][i],
                group['ID'][i], group['Fichier Horaires'][i])
    P.initialise(DATE_DEBUT,DATE_FIN)
    P.addImperatifs(pd.read_excel(group['Fichier Impératifs'][i]))
    plannings.append(P)

## Import du fichier contenant les tâches multi-utilisateurs :

In [4]:
TMU = pd.read_excel(TMU_file)
TMU.head()

   id tache    Objet  Durée  id utilisateur  Next tache id  Prev tache id
0         0  tache 0   0.25               2              1             -1
1         1  tache 1   3.00               3              2              0
2         2  tache 2   3.00               3              3              1
3         3  tache 3   1.00               2              4              2
4         4  tache 4   2.50               4              5              3

## Planification des tâches multi-utilisateurs :

In [5]:
planned_TMU = planifieTMU(TMU, DATE_DEBUT, DATE_FIN, plannings, maxiter = 1500)
for i  in np.unique(planned_TMU['id utilisateur'].values):
    plannings[i].addImperatifs(planned_TMU.loc[planned_TMU['id utilisateur']==i,
                                               ['Objet','Priorité','Date début',"Date fin"]])
planned_TMU

Non respect des horaires en heures pour la planification des tâches multi-utilisateurs : 1.75

       Objet Priorité          Date début            Date fin  id utilisateur
0    tache 0     TMU  2020-05-11 09:30:00 2020-05-11 09:45:00               2
1    tache 1     TMU  2020-05-11 09:45:00 2020-05-11 12:45:00               3
2    tache 2     TMU  2020-05-11 14:00:00 2020-05-11 17:00:00               3
3    tache 3     TMU  2020-05-12 08:00:00 2020-05-12 09:00:00               2
4    tache 4     TMU  2020-05-12 13:00:00 2020-05-12 15:30:00               4
5    tache 5     TMU  2020-05-12 15:30:00 2020-05-12 16:30:00               0
6    tache 6     TMU  2020-05-13 13:00:00 2020-05-13 14:45:00               3
7    tache 7     TMU  2020-05-13 14:45:00 2020-05-13 15:45:00               1
8    tache 8     TMU  2020-05-14 08:00:00 2020-05-14 09:45:00               0
9    tache 9     TMU  2020-05-14 14:00:00 2020-05-14 17:00:00               0
10  tache 10     TMU  2020-05-14 17:00:00 2020-05-14 18:00:00               2
11  tache 11     TMU  2020-05-15 08:00:00 2020-05-15 11:00:00               0
12  tache 12     TMU  2020-05-15 13:00:00 2020-05-15 14:00:00               2

## Les tâches sont maintenant dans les plannings des utilisateurs, exemple :

In [6]:
plannings[3].makePlanning(to_file=False)

,Objet,Priorité,Date début,Date fin
0,tache 1,TMU,2020-05-11 09:45:00,2020-05-11 12:45:00
1,tache 2,TMU,2020-05-11 14:00:00,2020-05-11 17:00:00
2,Rdv DENTISTE,IMPERATIF,2020-05-12 10:00:00,2020-05-12 11:00:00
3,Accueil nouvelle recrue,IMPERATIF,2020-05-13 09:30:00,2020-05-13 11:30:00
4,tache 6,TMU,2020-05-13 13:00:00,2020-05-13 14:45:00
5,Rdv Expert Comptable,IMPERATIF,2020-05-14 09:00:00,2020-05-14 10:00:00
6,Rdv Banque,IMPERATIF,2020-05-15 14:00:00,2020-05-15 16:00:00
7,Réserver les vacances d'été,IMPERATIF,2020-05-17 16:00:00,2020-05-17 18:00:00
8,Restaurant avec l'équipe,IMPERATIF,2020-05-20 12:00:00,2020-05-20 12:50:00
9,Footing,IMPERATIF,2020-05-22 08:00:00,2020-05-22 09:00:00